
.titulo{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: normal;
	font-size: 40px;
	color: #ffffff;
	
}
.subtitulo{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: normal;
	font-size: 30px;
	color: #ffffff;
}
.subtitulo2{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: normal;
	font-size: 30px;
	color: darkgreen;
	
}
.p{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: normal;
	font-size: 20px;
	color: #ffffff;
	
}
.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
.body  {
    background-image: url("fondo.jpg");
    background-color:   black;
}
.centrado{
    margin: auto; 
    display: block;
    }
	
.button {
    background-color:  #e6e6e6; /* Green */
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
	padding: 14px 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


